{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row">
            <!-- Профиль с данными пользователя -->
            <div class="col-md-5">
                <div class="bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Профиль пользователя</h3>
                    <div class="text-center mb-4">
                        <strong>Логин:</strong> {{ user.username }}
                    </div>
                    <form action="{% url 'user:profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Аватар пользователя -->
                            <div class="col-md-12 mb-3 text-center">
                                {% if user.image %}
                                    <img src="{{ user.image.url }}"
                                        alt="Аватар пользователя" class="img-fluid rounded-circle"
                                        style="max-width: 150px;">
                                {% else %}
                                    <img src="{% static 'deps/images/baseavatar.jpg' %}"
                                        alt="Аватар пользователя" class="img-fluid rounded-circle"
                                        style="max-width: 150px;">
                                {% endif %}
                                <input type="file" class="form-control mt-3" id="{{ form.image.id_for_label }}"
                                    name="{{ form.image.name }}"
                                    accept="image/*">
                                {% if form.image.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.image.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Номер телефона -->
                            <div class="col-md-12 mb-3">
                                <label for="{{ form.phone_number.id_for_label }}" class="form-label">Телефон</label>
                                <input type="text" class="form-control" id="{{ form.phone_number.id_for_label }}"
                                    name="{{ form.phone_number.name }}"
                                    placeholder="Введите ваш номер телефона"
                                    value="{{ form.phone_number.value }}">
                                {% if form.phone_number.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.phone_number.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}