{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded custom-shadow">
                <h2 class="text-center mb-4">Регистрация</h2>

                <form action="{% url 'user:registration' %}" method="post">
                    {% csrf_token %}

                    <!-- Имя пользователя -->
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Имя пользователя*</label>
                        <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
                               name="{{ form.username.name }}"
                               placeholder="Введите ваше имя пользователя" required>
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- Пароль -->
                    <div class="mb-3">
                        <label for="{{ form.password1.id_for_label }}" class="form-label">Пароль*</label>
                        <input type="password" class="form-control" id="{{ form.password1.id_for_label }}"
                               name="{{ form.password1.name }}"
                               placeholder="Введите пароль" required>
                        {% if form.password1.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- Подтверждение пароля -->
                    <div class="mb-3">
                        <label for="{{ form.password2.id_for_label }}" class="form-label">Подтверждение пароля*</label>
                        <input type="password" class="form-control" id="{{ form.password2.id_for_label }}"
                               name="{{ form.password2.name }}"
                               placeholder="Подтвердите пароль" required>
                        {% if form.password2.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- Номер телефона -->
                    <div class="mb-3">
                        <label for="{{ form.phone_number.id_for_label }}" class="form-label">Номер телефона</label>
                        <input type="text" class="form-control" id="{{ form.phone_number.id_for_label }}"
                               name="{{ form.phone_number.name }}"
                               placeholder="Введите ваш номер телефона" {% if form.phone_number.value %}value="{{ form.phone_number.value }}"{% endif %}>
                        {% if form.phone_number.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.phone_number.errors }}</div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-dark btn-block">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}