{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Создать рецепт</title>
</head>
<body>
    <h1>Создание нового рецепта</h1>
    <form method="POST" action="{% url 'rec:create_recipe' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="title">Название рецепта:</label>
        <input type="text" name="title" id="title" required>
        <br><br>

        <label for="description">Описание:</label>
        <textarea name="description" id="description" rows="4" required></textarea>
        <br><br>

        <label for="instructions">Шаги приготовления:</label>
        <textarea name="instructions" id="instructions" rows="6" required></textarea>
        <br><br>

        <label for="prep_time">Время приготовления (в минутах):</label>
        <input type="number" name="prep_time" id="prep_time" required>
        <br><br>

        <label for="image">Изображение:</label>
        <input type="file" name="image" id="image" accept="image/*">
        <br><br>

        <input type="hidden" name="author" value="{{ user.username }}"> <!-- Предполагаем, что пользователь аутентифицирован -->

        <button type="submit">Сохранить рецепт</button>
    </form>

    <br><br>
    <a href="{% url 'user:profile' %}">Назад к профилю</a>
</body>
{% endblock  %}